<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myservicetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityModule.SecondActivity" />
        <activity android:name=".ActivityModule.ThirdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"/>

        <service
            android:name=".Service.SendMessageService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.myservicetest.Service.SendMessageService" />
            </intent-filter>
        </service>

        <!-- 即时聊天接收 -->
        <receiver android:name=".Service.NewImReceiver">
            <intent-filter>
                <action android:name="com.example.myservicetest.Service.NewImReceiver" />
            </intent-filter>
        </receiver>

        <!-- 消息提醒 -->
        <receiver android:name=".Service.RingReceiver">
            <intent-filter>
                <action android:name="com.example.myservicetest.Service.RingReceiver"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ActivityModule.ForthActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"></activity>
    </application>

</manifest>